{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="add-product-container">
    <h1>Edit Product</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-container">
            <table>
                {{ form.as_table }}
            </table>
        </div>
        <div class="button-container">
            <a href="{% url 'main:show_main' %}">
                <button type="button" class="cancel-button">
                    Cancel
                </button>
            </a>
            <input type="submit" value="Edit Product" class="add-button" />
        </div>
    </form>
</div>

{% endblock %}