{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Euro Golf</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'main:show_main' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Info
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'main:pricelist' %}">Pricelist</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'main:steel_view' %}">Steel Shaft</a></li>
                    <li><a class="dropdown-item" href="{% url 'main:graphite_view' %}">Graphite Shaft</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'main:logout' %}">Logout</a>
            </li>
            </ul>
            <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        </div>
    </nav>
    <div class = "Judul_graphite">
        Graphite Shaft
    </div>
    </br>
    <table class="tabel_graphite">
    <thead>
    <tr>
        <th class="tg-0lax">Name</th>
        <th class="tg-0lax">Image</th>
        <th class="tg-0lax">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tg-0lax">Fujikura Axiom 125</td>
        <td class="tg-0lax"><img src="https://golfshaftsamerica.com/cdn/shop/products/Axiom_105_1024x1024.jpg?v=1677120576" width="150" height="108"/></td>
        <td class="tg-0lax">Rp 12.500.000,00</td>
    </tr>
    <tr>
        <td class="tg-0lax">Mitsubishi Chemical Taper</td>
        <td class="tg-0lax"><img src="https://www.tourspecgolf.com/media/catalog/product/m/i/mitsubishi_chemical_mmt_taper_iron_shaft_1.jpg" width="150" height="108"/></td>
        <td class="tg-0lax">Rp 10.500.000,00</td>
    </tr>
    <tr>
        <td class="tg-0lax">Aerotech SteelFiber i110</td>
        <td class="tg-0lax"><img src="https://m.media-amazon.com/images/I/51J9rTWfJBL._AC_UF1000,1000_QL80_.jpg" width="150" height="108"/></td>
        <td class="tg-0lax">Rp 6.300.000,00</td>
    </tr>
    <tr>
        <td class="tg-0lax">Mitsubishi C6 80</td>
        <td class="tg-0lax"><img src="https://m.media-amazon.com/images/I/31J9Gafqz8L._AC_UF1000,1000_QL80_.jpg" width="150" height="108"/></td>
        <td class="tg-0lax">Rp 6.200.000,00</td>
    </tr>
    </tbody>
    </table>
    </br>
    <marquee behavior="scroll" direction="right" style= "color: blueviolet;">
        Welcome to Euro Golf! 
    </marquee>
{% endblock content %}