<!DOCTYPE html>
<html>
    <head>
        <style>
        h1 {
            font-size:big; color: rgb(0, 34, 128);
            text-align: center;
        }
        h5 {
            font-size:medium;
        }
        p {
            font-size:medium; color: darkgreen;
        }
        
    </style>
    </head>
    <body>
        <h1>Welcome to Euro Golf! </h1>
        <h5>Name: </h5>
        <p>{{ name }}<p>
        <h5>Class: </h5>
        <p>{{ class }}<p>
        <marquee behavior="scroll" direction="right" style="color: blue">
            Enjoy your day!!  
        </marquee>
    </body>
</html>
